<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="574f96f8-74c3-4859-8fb7-ecd6ed8f5f96" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://tekschool-test-env.herokuapp.com 4" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="574f96f8-74c3-4859-8fb7-ecd6ed8f5f96fileName">http%3A%2F%2Ftekschool-test-env.herokuapp.com-4</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://tekschool-test-env.herokuapp.com</con:endpoint></con:endpoints></con:interface>