<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="e2e5b451-4f5b-4332-ad1e-e4301c57294a" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://tekschool-test-env.herokuapp.com 1" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="e2e5b451-4f5b-4332-ad1e-e4301c57294afileName">http%3A%2F%2Ftekschool-test-env.herokuapp.com-1</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://tekschool-test-env.herokuapp.com</con:endpoint></con:endpoints></con:interface>