<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="fd8ff6bb-86d4-40c7-afd0-a97f7d740264" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://tekschool-test-env.herokuapp.com 2" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="fd8ff6bb-86d4-40c7-afd0-a97f7d740264fileName">http%3A%2F%2Ftekschool-test-env.herokuapp.com-2</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://tekschool-test-env.herokuapp.com</con:endpoint></con:endpoints></con:interface>